In [1]:
pip install pandas==2.2.3

Collecting pandas==2.2.3
  Downloading pandas-2.2.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.1/13.1 MB 6.2 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: numpy>=1.22.4 in /opt/conda/lib/python3.10/site-packages (from pandas==2.2.3) (1.23.5)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas==2.2.3) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.10/site-packages (from pandas==2.2.3) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.10/site-packages (from pandas==2.2.3) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas==2.2.3) (1.16.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 2.0.0
    Uninstalling pandas-2.0.0:
      Successfully uninstalled pandas-2.0.0
Successfully installed pandas-2.2.3
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

# Membaca setiap file CSV
df_customer = pd.read_csv('/tmp/customers.csv')
df_product = pd.read_csv('/tmp/products.csv')
df_order = pd.read_csv('/tmp/orders.csv')
df_shipping = pd.read_csv('/tmp/shippings.csv')
df_payment = pd.read_csv('/tmp/payments.csv')
df_return = pd.read_csv('/tmp/returns.csv')

In [3]:
df_transactions = (
    df_order
    .merge(df_customer, on='customer_id', how='left')
    .merge(df_product, on='product_id', how='left')
    .merge(df_shipping, on='shipping_id', how='left')
    .merge(df_payment, on='payment_id', how='left')
    .merge(df_return, on='return_id', how='left')
)
df_transactions = df_transactions.drop(
    columns=['order_id', 'customer_id', 'product_id', 'payment_id', 'return_id','shipping_id']
)

df_transactions.to_parquet('/tmp/transactions.parquet')

In [4]:
pd.read_parquet('/tmp/transactions.parquet')

,quantity,order_date,first_name,last_name,email,phone,address,product_name,price,stock,destination,shipping_date,delivery_date,payment_date,amount,payment_method,return_date,reason,status
0,1,2024-08-03 05:52:15.411400,Jerry,Cervantes,annearnold@example.com,4879314495,"14412 Johnson Viaduct\nSouth Maryfurt, CT 33283",fly,709.74,7,"99857 Robert Junctions\nKimberlyfort, LA 68494",2024-02-09 10:46:28.892697,2024-03-19 07:31:36.912701,2024-03-05 19:52:31.271469,868.81,PayPal,2024-09-19 18:13:55.392691,Let clearly affect affect.,Rejected
1,2,2024-01-29 13:38:15.339991,Jessica,Smith,anthony25@example.org,5124938513,"017 Joshua Turnpike Suite 226\nEast Ryan, FM 8...",black,521.51,91,"95041 Hunt Ports Suite 026\nBarryview, GA 93971",2024-09-21 12:31:22.820652,2024-05-27 12:21:53.264703,2024-09-18 21:31:37.164895,971.42,PayPal,2024-08-31 11:30:27.729423,Give through impact community magazine person ...,Not Requested
2,10,2024-09-09 19:57:03.039022,Kimberly,Mills,ccurtis@example.com,292.562.2918x886,"6701 Mark Islands\nLake Brianashire, FL 57043",leave,904.24,4,"91248 Smith Wells\nPort Karenmouth, ID 66541",2024-08-20 22:18:47.522307,2024-05-06 03:48:25.280116,2024-06-30 12:49:03.221100,795.85,Bank Transfer,2024-07-25 14:52:44.606095,Cause mouth visit difficult.,Not Requested
3,1,2024-06-02 10:18:27.293769,Anna,Ochoa,jessicahill@example.org,+1-234-377-2811x74500,"813 Joseph Greens\nNorth Kennethshire, MA 42912",response,565.73,36,"39818 Heidi Turnpike Apt. 063\nLake Amanda, NY...",2024-04-22 02:24:55.890270,2024-03-18 12:11:37.404684,2024-02-20 17:00:35.572855,192.40,Bank Transfer,2024-01-21 09:28:36.493976,Remain else back.,Approved
4,8,2024-02-25 23:19:13.910330,Donna,Shaw,lanejonathan@example.net,937-735-6412x6725,"65896 Lewis Stream Apt. 375\nRichchester, NC 1...",ok,322.78,71,"503 Valerie Drive Suite 970\nMariatown, HI 92257",2024-07-06 13:39:20.648242,2024-02-26 23:10:00.261174,2024-07-13 08:33:25.737563,159.78,Bank Transfer,2024-03-29 04:44:02.681838,Responsibility consumer argue whatever these p...,Approved
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,4,2024-08-23 12:41:51.470054,Marco,Leonard,joharris@example.com,+1-619-462-2278x7709,"052 Clark Path\nNew Elizabethberg, ND 50587",scientist,488.33,81,"296 Johnny Skyway Suite 510\nWest Tommytown, A...",2024-08-23 09:15:23.920098,2024-08-07 00:44:53.118477,2024-04-02 04:55:52.586766,905.31,Bank Transfer,2024-07-27 05:47:36.299662,Trade number world card.,Not Requested
99996,10,2024-09-13 21:50:37.199005,Angela,Wells,matthewhughes@example.com,853-339-4737,"10167 Valerie Place Suite 038\nSouth Martin, V...",same,155.13,53,USNV Smith\nFPO AE 69999,2024-07-31 06:05:03.646804,2024-09-06 12:42:45.212307,2024-07-31 21:07:22.333858,699.60,Credit Card,2024-04-24 09:36:29.204525,Floor sign value explain first century.,Pending
99997,10,2024-06-04 15:05:20.802575,Lance,Taylor,espinozatroy@example.net,999-331-0063,"967 Diaz River Suite 016\nNorth Julie, IN 99894",staff,22.10,84,"5045 Donna Falls Apt. 485\nKramerview, IL 97346",2024-01-04 02:24:30.316483,2024-03-03 02:39:41.345027,2024-09-16 23:40:08.072814,262.30,PayPal,2024-06-13 08:23:03.003847,Begin size of animal great.,Pending
99998,8,2024-02-07 04:09:35.042042,Chase,Taylor,williamnielsen@example.com,001-891-949-5094x964,"39452 Wesley Bridge Apt. 360\nNancybury, IA 46235",member,556.05,20,"848 Richards Gateway Suite 179\nPort Susan, NV...",2024-01-09 01:50:43.357143,2024-02-06 17:35:34.006196,2024-01-05 06:58:54.838775,726.13,PayPal,2024-09-11 16:56:55.777580,Feeling make degree.,Rejected
99999,10,2024-05-31 18:13:26.158368,Ryan,Hogan,wardrodney@example.org,446.963.1247,"47194 Gonzalez Flats Suite 958\nKevinburgh, ID...",pattern,835.99,58,"5925 Sarah View Suite 765\nJohnberg, OH 26483",2024-06-28 13:29:53.657345,2024-06-25 18:09:15.500378,2024-09-02 22:33:26.130264,294.30,PayPal,2024-06-20 08:26:27.797228,Imagine role everyone first.,Rejected