In [1]:
pip install pandas==2.2.3

Collecting pandas==2.2.3
  Downloading pandas-2.2.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.1/13.1 MB 6.2 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: numpy>=1.22.4 in /opt/conda/lib/python3.10/site-packages (from pandas==2.2.3) (1.23.5)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas==2.2.3) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.10/site-packages (from pandas==2.2.3) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.10/site-packages (from pandas==2.2.3) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas==2.2.3) (1.16.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 2.0.0
    Uninstalling pandas-2.0.0:
      Successfully uninstalled pandas-2.0.0
Successfully installed pandas-2.2.3
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

# Membaca setiap file CSV
df_customer = pd.read_csv('/tmp/customers.csv')
df_product = pd.read_csv('/tmp/products.csv')
df_order = pd.read_csv('/tmp/orders.csv')
df_shipping = pd.read_csv('/tmp/shippings.csv')
df_payment = pd.read_csv('/tmp/payments.csv')
df_return = pd.read_csv('/tmp/returns.csv')

In [11]:
df_transactions = (
    df_order
    .merge(df_customer, on='customer_id', how='left')
    .merge(df_product, on='product_id', how='left')
    .merge(df_shipping, on='shipping_id', how='left')
    .merge(df_payment, on='payment_id', how='left')
    .merge(df_return, on='return_id', how='left')
)
df_transactions = df_transactions.drop(
    columns=['order_id', 'customer_id', 'product_id', 'payment_id', 'return_id','shipping_id']
)
print(df_transactions)

      quantity                  order_date first_name  last_name  \
0            6  2024-09-11 14:34:38.817532   Jennifer      Perez
1           10  2024-03-15 13:43:05.348458    Allison    Francis
2           10  2024-03-09 22:27:46.724114    Suzanne      Allen
3            2  2024-05-26 19:28:07.888524      Jenna   Williams
4            8  2024-01-26 19:18:47.673825     Jeremy  Rodriguez
...        ...                         ...        ...        ...
9995         6  2024-04-19 03:32:16.414973      Jamie      Rocha
9996         7  2024-04-28 13:24:17.426917     Connor      Smith
9997         7  2024-04-28 15:37:29.465257     Brenda     Austin
9998         2  2024-08-18 15:11:18.545490       Jack      Davis
9999         4  2024-04-21 06:53:23.600878      Sarah     Kelley

                         email                  phone  \
0          hhurley@example.net   +1-365-713-6186x5069
1           mmason@example.org          (788)246-1642
2         robert63@example.com           709-632-4312
3       clintonkim@example.org   +1-333-629-7447x1240
4          chase60@example.com     353-381-9405x98812
...                        ...                    ...
9995    danielluna@example.com    +1-893-914-8871x657
9996     jhamilton@example.org           456-454-9260
9997         udiaz@example.com          (376)436-0996
9998  johnstonjohn@example.net  001-516-284-7772x3692
9999     xwilliams@example.net   001-826-619-0624x692

                                                address product_name   price  \
0                      Unit 8422 Box 6078\nDPO AE 20691    authority   22.87
1             6104 Griffith Pike\nDanielville, MI 07928      soldier  852.56
2                      Unit 6320 Box 0624\nDPO AP 43086     possible  986.00
3     02902 Howe Court Apt. 079\nLake Jocelynland, A...       likely  831.84
4                 1954 Carly Pass\nCarneystad, MT 70245     yourself   21.75
...                                                 ...          ...     ...
9995                   Unit 5495 Box 8071\nDPO AA 93823      perhaps  906.58
9996             668 Johnson Trail\nWest John, OH 28746    authority   22.87
9997  84336 Schneider Fords Apt. 522\nDylanville, VT...          say  205.72
9998                   Unit 2717 Box 8747\nDPO AA 21086       enough  523.71
9999  6575 Gutierrez Ports Suite 025\nPort Eric, AS ...         side  932.30

      stock                                       destionation  \
0        21                           USNV Baker\nFPO AE 53066
1        30   568 Mitchell Gardens\nEast Stephenfort, OH 90061
2        35        187 Martin Orchard\nChristinaberg, CO 71134
3        18           703 Connor Pike\nNew Alexandra, KY 34116
4        11  250 Courtney Summit Apt. 430\nCaseymouth, NC 5...
...     ...                                                ...
9995     12              9228 Ray Plains\nSusanshire, NM 35315
9996     21                8756 James Port\nLanceton, MA 62995
9997     11          21580 Smith Mission\nPort Brian, MH 72405
9998     25     30592 Phillips Route\nWest Edgarfort, NJ 05850
9999     57            995 Rita Plains\nWest Marilyn, IN 77967

                   shipping_date               delivery_date  \
0     2024-05-20 13:25:41.511600  2024-02-19 01:02:04.687795
1     2024-05-23 02:07:22.883137  2024-04-16 15:25:32.782564
2     2024-08-06 18:48:07.141287  2024-06-23 01:28:49.851552
3     2024-07-27 23:29:32.062767  2024-06-10 13:00:17.243365
4     2024-01-17 15:53:27.874775  2024-05-09 22:15:13.075956
...                          ...                         ...
9995  2024-03-28 09:23:13.801599  2024-04-27 11:36:17.341237
9996  2024-05-30 08:02:28.051878  2024-07-10 14:54:12.858840
9997  2024-01-16 08:30:04.351576  2024-08-31 10:06:47.218321
9998  2024-01-19 14:15:30.319809  2024-04-21 03:37:29.269642
9999  2024-06-04 11:03:06.266468  2024-07-13 00:59:08.607656

                    payment_date  amount payment_method  \
0     2024-08-19 12:38:10.627685  823.78    Credit Card
1     2024-02-13 18:51:40.460318  586.06  Bank Transfer
2     2024-06-08 13:21:15.496237  555.60  Bank Transfer
3     2024-08-19 12:38:10.627685  823.78    Credit Card
4     2024-09-08 01:47:45.580722  658.68  Bank Transfer
...                          ...     ...            ...
9995  2024-05-19 15:30:16.208232  769.58         PayPal
9996  2024-02-03 07:23:47.374910  138.41         PayPal
9997  2024-05-24 22:07:13.429358  862.24  Bank Transfer
9998  2024-01-02 00:52:35.276215  379.96  Bank Transfer
9999  2024-05-19 15:30:16.208232  769.58         PayPal

                     return_date  \
0     2024-04-22 05:45:33.551837
1     2024-03-15 13:00:04.832162
2     2024-03-03 10:09:28.875991
3     2024-03-11 10:03:50.511798
4     2024-07-12 04:58:49.199651
...                          ...
9995  2024-05-05 03:59:51.307426
9996  2024-05-23 17:54:49.829551
9997  2024-06-21 02:01:42.867418
9998  2024-08-15 07:42:43.436493
9999  2024-03-15 13:00:04.832162

                                                 reason         status
0                      Morning morning nation building.  Not Requested
1                               Pay couple whether see.       Approved
2                               Piece wife PM six what.  Not Requested
3        Upon smile water work billion language manage.  Not Requested
4                      Car ball language kind election.        Pending
...                                                 ...            ...
9995  Put painting statement might usually others sp...        Pending
9996  Trip figure property close record nearly current.  Not Requested
9997                     Either girl writer radio term.  Not Requested
9998  Shoulder someone open close human can yeah total.  Not Requested
9999                            Pay couple whether see.       Approved

[10000 rows x 19 columns]